html, body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    background-size: cover;
}

.wrap
{
    background: rgba(255, 255, 255, 0.4);
    min-height: 90px;
    min-width: 840px;
}

.full
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
